* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  line-height: 1.48;
}

body {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-size: 48px;
  color: #3dc2aa;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  font-size: 32px;
}

h3 {
  font-weight: 700;
  font-size: 24px;
}

h4 {
  font-weight: 400;
  font-size: 24px;
}

p {
  font-weight: 400;
  font-size: 16px;
}
