@import "../../index.scss";

.Layout {
  &_section {
    width: 1140px;
    max-width: calc(100% - 20px);
    padding: 30px 0 10px;
    margin: 0 auto;

    @include desktop-sm {
      padding: 50px 0;
    }
  }
}
